.none{
    display: none;
}

.custom-btn {
    background-color: #828bb3;
    border-radius: 0px;
    border-color: #828bb3;
}

.product-details{
    display: flex;
}

.product-details .title-task{
    flex: 0 0 90%;
} 
.single-product .product-details .price h6{
    padding-right: 8px;
}
.product-details .price{ 
    flex: 0 0 10%;
    align-self: center;
    padding: 0px;
}

.single-product .product-details h6 {
    text-transform: capitalize ;
}

.delete-icon{
    width: 20px !important;
    height: 20px;
    cursor: pointer;
    margin: 0px !important;
}

.title-task{
    padding: 16px;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    vertical-align: inherit
}

.custom-btn:hover{
    background: -webkit-linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    background: -moz-linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    background: -o-linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);

    border-color: -webkit-linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    border-color: -moz-linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    border-color: -o-linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    border-color: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
}

.transition-anim-comp{
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}
  
.single-product img{
    display: inline-block;
    width: 100px;
}

.navbar-light .navbar-brand {
    color: rgb(255, 255, 255);
}

.category-list .single-product{
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #828bb3;
}

.footer-area.section_gap{
    background-color: #828bb3;
}

.footer-area.section_gap .footer-text{
    color: white;
}

.footer-area.section_gap .footer-text a{
    color: black;
}