/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.no-padding {
    padding: 0; }
  
  .section_gap {
    padding: 100px 0; }
    @media (max-width: 991px) {
      .section_gap {
        padding: 80px 0; } }
  
  .section_gap_top_75 {
    padding: 75px 0; }
    @media (max-width: 991px) {
      .section_gap_top_75 {
        padding: 70px 0; } }
  
  .section_gap_75 {
    padding: 75px 0; }
    @media (max-width: 991px) {
      .section_gap_75 {
        padding: 70px 0; } }
  
  .section_gap_top {
    padding-top: 100px; }
    @media (max-width: 991px) {
      .section_gap_top {
        padding-top: 80px; } }
  
  .section_gap_bottom {
    padding-bottom: 100px; }
    @media (max-width: 991px) {
      .section_gap_bottom {
        padding-bottom: 80px; } }
  
  .gray-bg {
    background: #f9f9ff; }
  
  /* Section title css
  ============================================================================================ */
  .section-title {
    margin-bottom: 50px; }
    .section-title h1 {
      font-size: 36px; }
    .section-title p {
      margin-bottom: 0; }
  
  /* Start Gradient Area css
  ============================================================================================ */
  .gradient-bg, .primary-btn, .add-bag .add-btn, .single-product .product-details .prd-bottom .social-info span:after, .grid-btn:hover, .list-btn:hover, .grid-btn.active, .list-btn.active, .pagination a.active, .pagination a:hover, .s_Product_carousel .owl-dots div.active, .s_product_text .card_area .icon_btn:after, .product_description_area .nav.nav-tabs li a.active, .blog-pagination .page-item.active .page-link, .single-footer-widget .click-btn {
    background: -webkit-linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    background: -moz-linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    background: -o-linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%); }
  
  .gradient-bg-reverse, #search_input_box {
    background: -webkit-linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
    background: -moz-linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
    background: -o-linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
    background: linear-gradient(270deg, #ffba00 0%, #ff6c00 100%); }
  
  .gradient-color, .s_product_text h2, .s_product_text .list li a.active, .product_description_area .tab-content .total_rate .box_total h4, .single-footer-widget .bb-btn {
    background: -webkit-linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    background: -moz-linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    background: -o-linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  
  /* Start primary btn css
  ============================================================================================ */
  .primary-btn {
    position: relative;
    overflow: hidden;
    color: #fff;
    padding: 0 30px;
    line-height: 50px;
    border-radius: 50px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .primary-btn:before {
      position: absolute;
      left: -145px;
      top: 0;
      height: 100%;
      width: 100%;
      content: "";
      background: #000;
      opacity: 0;
      -webkit-transform: skew(40deg);
      -moz-transform: skew(40deg);
      -ms-transform: skew(40deg);
      -o-transform: skew(40deg);
      transform: skew(40deg);
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .primary-btn:hover {
      color: #fff; }
      .primary-btn:hover:before {
        left: 180px;
        opacity: .3; }
  
  body {
    line-height: 24px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #777777;
    background: #fff; }
  
  html,
  body {
    height: 100%; }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins", sans-serif;
    color: #222222;
    font-weight: 500;
    line-height: 1.2 !important; }
  
  .list {
    list-style: none;
    margin: 0px;
    padding: 0px; }
  
  a {
    text-decoration: none;
    transition: all 0.3s ease-in-out; }
    a:hover, a:focus {
      text-decoration: none;
      outline: none; }
  
  button:focus {
    outline: none;
    box-shadow: none; }
  
  .overflow-hidden {
    overflow: hidden; }
  
  .sample-text-area {
    background: #fff;
    padding: 100px 0 70px 0; }
  
  .text-heading {
    margin-bottom: 30px;
    font-size: 24px; }
  
  b, sup, sub, u, del {
    color: #ffba00; }
  
  h1 {
    font-size: 36px; }
  
  h2 {
    font-size: 30px; }
  
  h3 {
    font-size: 24px; }
  
  h4 {
    font-size: 18px; }
  
  h5 {
    font-size: 16px; }
  
  h6 {
    font-size: 14px; }
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.5em; }
  
  .typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
    color: #777777; }
  
  .button-area {
    background: #fff; }
    .button-area .border-top-generic {
      padding: 70px 15px;
      border-top: 1px dotted #eee; }
  
  .button-group-area .genric-btn {
    margin-right: 10px;
    margin-top: 10px; }
    .button-group-area .genric-btn:last-child {
      margin-right: 0; }
  
  .genric-btn {
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: .8em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .genric-btn:focus {
      outline: none; }
    .genric-btn.e-large {
      padding: 0 40px;
      line-height: 50px; }
    .genric-btn.large {
      line-height: 45px; }
    .genric-btn.medium {
      line-height: 30px; }
    .genric-btn.small {
      line-height: 25px; }
    .genric-btn.radius {
      border-radius: 3px; }
    .genric-btn.circle {
      border-radius: 20px; }
    .genric-btn.arrow {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .genric-btn.arrow span {
        margin-left: 10px; }
    .genric-btn.default {
      color: #222222;
      background: #f9f9ff;
      border: 1px solid transparent; }
      .genric-btn.default:hover {
        border: 1px solid #f9f9ff;
        background: #fff; }
    .genric-btn.default-border {
      border: 1px solid #f9f9ff;
      background: #fff; }
      .genric-btn.default-border:hover {
        color: #222222;
        background: #f9f9ff;
        border: 1px solid transparent; }
    .genric-btn.primary {
      color: #fff;
      background: #ffba00;
      border: 1px solid transparent; }
      .genric-btn.primary:hover {
        color: #ffba00;
        border: 1px solid #ffba00;
        background: #fff; }
    .genric-btn.primary-border {
      color: #ffba00;
      border: 1px solid #ffba00;
      background: #fff; }
      .genric-btn.primary-border:hover {
        color: #fff;
        background: #ffba00;
        border: 1px solid transparent; }
    .genric-btn.success {
      color: #fff;
      background: #4cd3e3;
      border: 1px solid transparent; }
      .genric-btn.success:hover {
        color: #4cd3e3;
        border: 1px solid #4cd3e3;
        background: #fff; }
    .genric-btn.success-border {
      color: #4cd3e3;
      border: 1px solid #4cd3e3;
      background: #fff; }
      .genric-btn.success-border:hover {
        color: #fff;
        background: #4cd3e3;
        border: 1px solid transparent; }
    .genric-btn.info {
      color: #fff;
      background: #38a4ff;
      border: 1px solid transparent; }
      .genric-btn.info:hover {
        color: #38a4ff;
        border: 1px solid #38a4ff;
        background: #fff; }
    .genric-btn.info-border {
      color: #38a4ff;
      border: 1px solid #38a4ff;
      background: #fff; }
      .genric-btn.info-border:hover {
        color: #fff;
        background: #38a4ff;
        border: 1px solid transparent; }
    .genric-btn.warning {
      color: #fff;
      background: #f4e700;
      border: 1px solid transparent; }
      .genric-btn.warning:hover {
        color: #f4e700;
        border: 1px solid #f4e700;
        background: #fff; }
    .genric-btn.warning-border {
      color: #f4e700;
      border: 1px solid #f4e700;
      background: #fff; }
      .genric-btn.warning-border:hover {
        color: #fff;
        background: #f4e700;
        border: 1px solid transparent; }
    .genric-btn.danger {
      color: #fff;
      background: #f44a40;
      border: 1px solid transparent; }
      .genric-btn.danger:hover {
        color: #f44a40;
        border: 1px solid #f44a40;
        background: #fff; }
    .genric-btn.danger-border {
      color: #f44a40;
      border: 1px solid #f44a40;
      background: #fff; }
      .genric-btn.danger-border:hover {
        color: #fff;
        background: #f44a40;
        border: 1px solid transparent; }
    .genric-btn.link {
      color: #222222;
      background: #f9f9ff;
      text-decoration: underline;
      border: 1px solid transparent; }
      .genric-btn.link:hover {
        color: #222222;
        border: 1px solid #f9f9ff;
        background: #fff; }
    .genric-btn.link-border {
      color: #222222;
      border: 1px solid #f9f9ff;
      background: #fff;
      text-decoration: underline; }
      .genric-btn.link-border:hover {
        color: #222222;
        background: #f9f9ff;
        border: 1px solid transparent; }
    .genric-btn.disable {
      color: #222222, 0.3;
      background: #f9f9ff;
      border: 1px solid transparent;
      cursor: not-allowed; }
  
  .generic-blockquote {
    padding: 30px 50px 30px 30px;
    background: #f9f9ff;
    border-left: 2px solid #ffba00; }
  
  .progress-table-wrap {
    overflow-x: scroll; }
  
  .progress-table {
    background: #f9f9ff;
    padding: 15px 0px 30px 0px;
    min-width: 800px; }
    .progress-table .serial {
      width: 11.83%;
      padding-left: 30px; }
    .progress-table .country {
      width: 28.07%; }
    .progress-table .visit {
      width: 19.74%; }
    .progress-table .percentage {
      width: 40.36%;
      padding-right: 50px; }
    .progress-table .table-head {
      display: flex; }
      .progress-table .table-head .serial, .progress-table .table-head .country, .progress-table .table-head .visit, .progress-table .table-head .percentage {
        color: #222222;
        line-height: 40px;
        text-transform: uppercase;
        font-weight: 500; }
    .progress-table .table-row {
      padding: 15px 0;
      border-top: 1px solid #edf3fd;
      display: flex; }
      .progress-table .table-row .serial, .progress-table .table-row .country, .progress-table .table-row .visit, .progress-table .table-row .percentage {
        display: flex;
        align-items: center; }
      .progress-table .table-row .country img {
        margin-right: 15px; }
      .progress-table .table-row .percentage .progress {
        width: 80%;
        border-radius: 0px;
        background: transparent; }
        .progress-table .table-row .percentage .progress .progress-bar {
          height: 5px;
          line-height: 5px; }
          .progress-table .table-row .percentage .progress .progress-bar.color-1 {
            background-color: #6382e6; }
          .progress-table .table-row .percentage .progress .progress-bar.color-2 {
            background-color: #e66686; }
          .progress-table .table-row .percentage .progress .progress-bar.color-3 {
            background-color: #f09359; }
          .progress-table .table-row .percentage .progress .progress-bar.color-4 {
            background-color: #73fbaf; }
          .progress-table .table-row .percentage .progress .progress-bar.color-5 {
            background-color: #73fbaf; }
          .progress-table .table-row .percentage .progress .progress-bar.color-6 {
            background-color: #6382e6; }
          .progress-table .table-row .percentage .progress .progress-bar.color-7 {
            background-color: #a367e7; }
          .progress-table .table-row .percentage .progress .progress-bar.color-8 {
            background-color: #e66686; }
  
  .single-gallery-image {
    margin-top: 30px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    height: 200px; }
  
  .list-style {
    width: 14px;
    height: 14px; }
  
  .unordered-list li {
    position: relative;
    padding-left: 30px;
    line-height: 1.82em !important; }
    .unordered-list li:before {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      border: 3px solid #ffba00;
      background: #fff;
      top: 4px;
      left: 0;
      border-radius: 50%; }
  
  .ordered-list {
    margin-left: 30px; }
    .ordered-list li {
      list-style-type: decimal-leading-zero;
      color: #ffba00;
      font-weight: 500;
      line-height: 1.82em !important; }
      .ordered-list li span {
        font-weight: 300;
        color: #777777; }
  
  .ordered-list-alpha li {
    margin-left: 30px;
    list-style-type: lower-alpha;
    color: #ffba00;
    font-weight: 500;
    line-height: 1.82em !important; }
    .ordered-list-alpha li span {
      font-weight: 300;
      color: #777777; }
  
  .ordered-list-roman li {
    margin-left: 30px;
    list-style-type: lower-roman;
    color: #ffba00;
    font-weight: 500;
    line-height: 1.82em !important; }
    .ordered-list-roman li span {
      font-weight: 300;
      color: #777777; }
  
  .single-input {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px; }
    .single-input:focus {
      outline: none; }
  
  .input-group-icon {
    position: relative; }
    .input-group-icon .icon {
      position: absolute;
      left: 20px;
      top: 0;
      line-height: 40px;
      z-index: 3; }
      .input-group-icon .icon i {
        color: #797979; }
    .input-group-icon .single-input {
      padding-left: 45px; }
  
  .single-textarea {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
    height: 100px;
    resize: none; }
    .single-textarea:focus {
      outline: none; }
  
  .single-input-primary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px; }
    .single-input-primary:focus {
      outline: none;
      border: 1px solid #ffba00; }
  
  .single-input-accent {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px; }
    .single-input-accent:focus {
      outline: none;
      border: 1px solid #eb6b55; }
  
  .single-input-secondary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px; }
    .single-input-secondary:focus {
      outline: none;
      border: 1px solid #f09359; }
  
  .default-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer; }
    .default-switch input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer; }
      .default-switch input + label {
        position: absolute;
        top: 1px;
        left: 1px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #ffba00;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer; }
      .default-switch input:checked + label {
        left: 19px; }
  
  .primary-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer; }
    .primary-switch input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0; }
      .primary-switch input + label {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%; }
        .primary-switch input + label:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background: transparent;
          border-radius: 8.5px;
          cursor: pointer;
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }
        .primary-switch input + label:after {
          content: "";
          position: absolute;
          top: 1px;
          left: 1px;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: #fff;
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
          cursor: pointer; }
      .primary-switch input:checked + label:after {
        left: 19px; }
      .primary-switch input:checked + label:before {
        background: #ffba00; }
  
  .confirm-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer; }
    .confirm-switch input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0; }
      .confirm-switch input + label {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%; }
        .confirm-switch input + label:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background: transparent;
          border-radius: 8.5px;
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          cursor: pointer; }
        .confirm-switch input + label:after {
          content: "";
          position: absolute;
          top: 1px;
          left: 1px;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: #fff;
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
          cursor: pointer; }
      .confirm-switch input:checked + label:after {
        left: 19px; }
      .confirm-switch input:checked + label:before {
        background: #4cd3e3; }
  
  .primary-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer; }
    .primary-checkbox input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0; }
      .primary-checkbox input + label {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        cursor: pointer;
        border: 1px solid #f1f1f1; }
      /* .primary-checkbox input:checked + label {
        background: url(../img/elements/primary-check.png) no-repeat center center/cover;
        border: none; } */
  
  .confirm-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer; }
    .confirm-checkbox input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0; }
      .confirm-checkbox input + label {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        cursor: pointer;
        border: 1px solid #f1f1f1; }
      /* .confirm-checkbox input:checked + label {
        background: url(../img/elements/success-check.png) no-repeat center center/cover;
        border: none; } */
  
  .disabled-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer; }
    .disabled-checkbox input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0; }
      .disabled-checkbox input + label {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        cursor: pointer;
        border: 1px solid #f1f1f1; }
      .disabled-checkbox input:disabled {
        cursor: not-allowed;
        z-index: 3; }
      /* .disabled-checkbox input:checked + label {
        background: url(../img/elements/disabled-check.png) no-repeat center center/cover;
        border: none; } */
  
  .primary-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer; }
    .primary-radio input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0; }
      .primary-radio input + label {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        cursor: pointer;
        border: 1px solid #f1f1f1; }
      /* .primary-radio input:checked + label {
        background: url(../img/elements/primary-radio.png) no-repeat center center/cover;
        border: none; } */
  
  .confirm-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer; }
    .confirm-radio input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0; }
      .confirm-radio input + label {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        cursor: pointer;
        border: 1px solid #f1f1f1; }
      /* .confirm-radio input:checked + label {
        background: url(../img/elements/success-radio.png) no-repeat center center/cover;
        border: none; } */
  
  .disabled-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer; }
    .disabled-radio input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0; }
      .disabled-radio input + label {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        cursor: pointer;
        border: 1px solid #f1f1f1; }
      .disabled-radio input:disabled {
        cursor: not-allowed;
        z-index: 3; }
      /* .disabled-radio input:checked + label {
        background: url(../img/elements/disabled-radio.png) no-repeat center center/cover;
        border: none; } */
  
  .default-select {
    height: 40px; }
    .default-select .nice-select {
      border: none;
      border-radius: 0px;
      height: 40px;
      background: #f9f9ff;
      padding-left: 20px;
      padding-right: 40px; }
      .default-select .nice-select .list {
        margin-top: 0;
        border: none;
        border-radius: 0px;
        box-shadow: none;
        width: 100%;
        padding: 10px 0 10px 0px; }
        .default-select .nice-select .list .option {
          font-weight: 300;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
          line-height: 28px;
          min-height: 28px;
          font-size: 12px;
          padding-left: 20px; }
          .default-select .nice-select .list .option.selected {
            color: #ffba00;
            background: transparent; }
          .default-select .nice-select .list .option:hover {
            color: #ffba00;
            background: transparent; }
    .default-select .current {
      margin-right: 50px;
      font-weight: 300; }
    .default-select .nice-select::after {
      right: 20px; }
  
  .form-select {
    height: 40px;
    width: 100%; }
    .form-select .nice-select {
      border: none;
      border-radius: 0px;
      height: 40px;
      background: #f9f9ff;
      padding-left: 45px;
      padding-right: 40px;
      width: 100%; }
      .form-select .nice-select .list {
        margin-top: 0;
        border: none;
        border-radius: 0px;
        box-shadow: none;
        width: 100%;
        padding: 10px 0 10px 0px; }
        .form-select .nice-select .list .option {
          font-weight: 300;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
          line-height: 28px;
          min-height: 28px;
          font-size: 12px;
          padding-left: 45px; }
          .form-select .nice-select .list .option.selected {
            color: #ffba00;
            background: transparent; }
          .form-select .nice-select .list .option:hover {
            color: #ffba00;
            background: transparent; }
    .form-select .current {
      margin-right: 50px;
      font-weight: 300; }
    .form-select .nice-select::after {
      right: 20px; }
  
  .is-sticky .header_area .main_menu .main_box {
    max-width: 100%;
    margin-top: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .is-sticky .header_area #search_input_box {
    max-width: 100%; }
  
  .sticky-wrapper {
    position: absolute;
    top: 40px;
    width: 100%; }
    @media (max-width: 991px) {
      .sticky-wrapper {
        top: 0; } }
  
  .header_area {
    /* position: absolute; */
    margin-bottom: 25px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transition: background 0.4s, all 0.3s linear;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .header_area .main_menu .main_box {
      background: #828bb3;
      margin: 0px auto 0;
      max-width: 1200px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .header_area .navbar {
      background: #fff;
      padding: 0px;
      border: 0px;
      border-radius: 0px; }
      @media (max-width: 991px) {
        .header_area .navbar .navbar-collapse {
          margin-top: 30px; }
          .header_area .navbar .navbar-collapse .nav-item {
            padding: 10px; } }
      .header_area .navbar .navbar-toggler .icon-bar {
        color: #000;
        height: 2px;
        width: 20px;
        content: "";
        background: #000;
        display: block;
        margin: 5px; }
      .header_area .navbar .nav .nav-item {
        margin-right: 45px; }
        .header_area .navbar .nav .nav-item .nav-link {
          text-transform: uppercase;
          padding: 0px;
          display: inline-block;
          font-size: 12px;
          font-weight: 700;
          color: #ffffff; }
          @media (min-width: 991px) {
            .header_area .navbar .nav .nav-item .nav-link {
              padding: 10px 0; } }
          .header_area .navbar .nav .nav-item .nav-link:after {
            display: none; }
        .header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
          color: #ffba00; }
        .header_area .navbar .nav .nav-item.submenu {
          position: relative; }
          .header_area .navbar .nav .nav-item.submenu ul {
            border: none;
            padding: 0px;
            border-radius: 0px;
            box-shadow: none;
            margin: 0px;
            background: #fff; }
            @media (min-width: 992px) {
              .header_area .navbar .nav .nav-item.submenu ul {
                position: absolute;
                top: 140%;
                left: 0px;
                min-width: 200px;
                text-align: left;
                opacity: 0;
                -webkit-transition: visibility 0.5s ease;
                -moz-transition: visibility 0.5s ease;
                -o-transition: visibility 0.5s ease;
                transition: visibility 0.5s ease;
                visibility: hidden;
                display: block; } }
            .header_area .navbar .nav .nav-item.submenu ul:before {
              content: "";
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 10px 10px 0 10px;
              border-color: #eeeeee transparent transparent transparent;
              position: absolute;
              right: 24px;
              top: 45px;
              z-index: 3;
              opacity: 0;
              -webkit-transition: all 0.3s ease 0s;
              -moz-transition: all 0.3s ease 0s;
              -o-transition: all 0.3s ease 0s;
              transition: all 0.3s ease 0s; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item {
              display: block;
              float: none;
              margin-right: 0px;
              border-bottom: 1px solid #ededed;
              margin-left: 0px;
              -webkit-transition: all 0.3s ease 0s;
              -moz-transition: all 0.3s ease 0s;
              -o-transition: all 0.3s ease 0s;
              transition: all 0.3s ease 0s; }
              .header_area .navbar .nav .nav-item.submenu ul .nav-item.active {
                background: #ffba00; }
                .header_area .navbar .nav .nav-item.submenu ul .nav-item.active .nav-link {
                  color: #fff; }
              .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
                line-height: 45px;
                padding: 0px 30px;
                -webkit-transition: all 0.3s ease 0s;
                -moz-transition: all 0.3s ease 0s;
                -o-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
                display: block;
                margin-right: 0px; }
              .header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
                border-bottom: none; }
              .header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
                background: #ffba00;
                color: #fff; }
          @media (min-width: 992px) {
            .header_area .navbar .nav .nav-item.submenu:hover ul {
              visibility: visible;
              opacity: 1; } }
          .header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
            margin-top: 0px; }
        .header_area .navbar .nav .nav-item:last-child {
          margin-right: 0px; }
      @media (min-width: 991px) {
        .header_area .navbar .nav.navbar-nav.navbar-right {
          display: -webkit-inline-box; } }
      .header_area .navbar .nav.navbar-nav.navbar-right li {
        margin-left: 25px;
        margin-right: 0px; }
        @media (max-width: 991px) {
          .header_area .navbar .nav.navbar-nav.navbar-right li {
            margin-left: 0px; } }
        .header_area .navbar .nav.navbar-nav.navbar-right li:first-child {
          margin-left: 35px; }
          @media (max-width: 991px) {
            .header_area .navbar .nav.navbar-nav.navbar-right li:first-child {
              display: none; } }
        .header_area .navbar .nav.navbar-nav.navbar-right li span {
          color: #222222;
          line-height: 80px;
          font-weight: 500; }
      .header_area .navbar .nav.navbar-nav.navbar-right .search {
        background: transparent;
        border: 0;
        cursor: pointer;
        padding: 0; }
  
  #search_input_box {
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    z-index: 999;
    text-align: center;
    padding: 5px 20px; }
    #search_input_box .form-control {
      background: transparent;
      border: 0;
      color: #ffffff;
      font-weight: 400;
      font-size: 15px;
      padding: 0; }
      #search_input_box .form-control:focus {
        box-shadow: none;
        outline: none; }
    #search_input_box input.placeholder {
      color: #ffffff;
      font-size: 14px; }
    #search_input_box input:-moz-placeholder {
      color: #ffffff;
      font-size: 14px; }
    #search_input_box input::-moz-placeholder {
      color: #ffffff;
      font-size: 14px; }
    #search_input_box input::-webkit-input-placeholder {
      color: #ffffff;
      font-size: 14px; }
    #search_input_box .btn {
      width: 0;
      height: 0;
      padding: 0;
      border: 0; }
    #search_input_box .lnr-cross {
      color: #fff;
      font-weight: 600;
      cursor: pointer;
      padding: 10px 3px; }
  
  @media (max-width: 575px) {
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid {
      padding: 0px 15px; } }
  
  /* banner area css
  ============================================================================================ */
  /* .banner-area {
    background: url(../img/banner/banner-bg.jpg) center no-repeat;
    background-size: cover;
    position: relative; } */
    @media (max-width: 768px) {
      .banner-area .fullscreen {
        height: 650px !important; } }
    .banner-area .active-banner-slider .owl-nav {
      position: absolute;
      right: 0;
      bottom: -200px; }
      @media (max-width: 1920px) {
        .banner-area .active-banner-slider .owl-nav {
          right: -115px; } }
      @media (max-width: 1680px) {
        .banner-area .active-banner-slider .owl-nav {
          right: 0px; } }
      @media (max-width: 991px) {
        .banner-area .active-banner-slider .owl-nav {
          display: none; } }
      .banner-area .active-banner-slider .owl-nav .owl-prev,
      .banner-area .active-banner-slider .owl-nav .owl-next {
        display: inline-block;
        margin: 10px;
        opacity: .5;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        .banner-area .active-banner-slider .owl-nav .owl-prev:hover,
        .banner-area .active-banner-slider .owl-nav .owl-next:hover {
          opacity: 1; }
    .banner-area .banner-content {
      padding-left: 10px; }
      @media (max-width: 991px) {
        .banner-area .banner-content {
          padding-left: 0; } }
      .banner-area .banner-content h1 {
        font-size: 60px;
        line-height: 66px;
        font-weight: 700;
        margin-bottom: 30px; }
        @media (max-width: 767px) {
          .banner-area .banner-content h1 {
            font-size: 35px;
            line-height: 46px; } }
      .banner-area .banner-content p {
        margin: 0; }
    @media (max-width: 991px) {
      .banner-area .banner-img {
        display: none; } }
  
  .add-bag {
    margin-top: 30px; }
    .add-bag .add-btn {
      height: 50px;
      width: 50px;
      line-height: 52px;
      text-align: center;
      border-radius: 50%;
      box-shadow: 0 10px 20px rgba(255, 108, 0, 0.2); }
      .add-bag .add-btn span {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        display: inline-block;
        color: #fff; }
    .add-bag .add-text {
      padding-left: 15px;
      font-size: 12px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      color: #222222; }
  
  /* .organic-breadcrumb {
    background: url(../img/banner/common-banner.jpg) center no-repeat;
    background-size: cover;
    padding-top: 130px; } */
    @media (max-width: 991px) {
      .organic-breadcrumb {
        padding-top: 80px; } }
    @media (max-width: 767px) {
      .organic-breadcrumb {
        background: none;
        background: -webkit-linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
        background: -moz-linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
        background: -o-linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
        background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%); } }
  
  #category .organic-breadcrumb {
    margin-bottom: 100px; }
  
  .breadcrumb-banner {
    padding: 90px 0 100px 0; }
    .breadcrumb-banner h1 {
      font-weight: 600;
      color: #fff; }
      @media (max-width: 767px) {
        .breadcrumb-banner h1 {
          font-size: 30px; } }
    .breadcrumb-banner p {
      margin-bottom: 0;
      color: #fff; }
    .breadcrumb-banner nav a {
      display: inline-block;
      color: #fff;
      font-weight: 400; }
      .breadcrumb-banner nav a span {
        display: inline-block;
        margin: 0 10px; }
    .breadcrumb-banner .col-first {
      padding-right: 15px; }
      @media (max-width: 1680px) {
        .breadcrumb-banner .col-first {
          padding-right: 40px; } }
      @media (max-width: 991px) {
        .breadcrumb-banner .col-first {
          width: 48%; } }
      @media (max-width: 767px) {
        .breadcrumb-banner .col-first {
          width: 100%; } }
  
  .p1-gradient-bg, .details-tab-navigation .nav-link:hover, .details-tab-navigation .nav-link.active, .quick-view-carousel-details .owl-controls .owl-dots .owl-dot.active:after, .organic-body .quick-view-carousel .owl-controls .owl-dots .owl-dot.active:after, .organic-body .organic, .organic-body .organic:hover, .checkput-login .top-title, .register-form, .mini-cart-2a.mini-cart-1 .mini-border, .mini-cart-2a.mini-cart-2 .mini-border, .mini-cart-2a.mini-cart-3 .mini-border, .mini-cart-2a.mini-cart-4 .mini-border, .mini-cart.mini-cart-1 .mini-border, .mini-cart.mini-cart-2 .mini-border, .mini-cart.mini-cart-3 .mini-border, .mini-cart.mini-cart-4 .mini-border, .item-cart, .submit-btn, .submit-btn.color-1, .submit-btn.color-2, .submit-btn.color-3, .submit-btn.color-4, .view-btn.color-1:after, .view-btn.color-2:after, .view-btn.color-3:after, .view-btn.color-4:after, .organic-section-title-left .carousel-trigger .prev-trigger:after, .organic-section-title-left .carousel-trigger .next-trigger:after, .single-search-product:before, .single-organic-product:after, .single-organic-product .bottom, .single-organic-product:hover .discount, .single-furniture-product .bottom, .single-furniture-product:hover .discount, .single-sidebar-product:before, .single-organic-product-list:after {
    background-image: -moz-linear-gradient(45deg, #f6463d 0%, #f6398d 45%, #f52cdc 100%);
    background-image: -webkit-linear-gradient(45deg, #f6463d 0%, #f6398d 45%, #f52cdc 100%);
    background-image: -ms-linear-gradient(45deg, #f6463d 0%, #f6398d 45%, #f52cdc 100%); }
  
  .p1-gradient-color, .organic-body .quick-view-content .price span, .organic-body .quick-view-content .category span, .organic-body .quick-view-content .view-full, .organic-product-top .single-product-top:hover .product-title, .tab-navigation .nav-link:hover, .tab-navigation .nav-link.active, .mini-cart-2a.mini-cart-1 .middle h5 a:hover, .mini-cart-2a.mini-cart-1 .cross span:hover, .mini-cart-2a.mini-cart-2 .middle h5 a:hover, .mini-cart-2a.mini-cart-2 .cross span:hover, .mini-cart-2a.mini-cart-3 .middle h5 a:hover, .mini-cart-2a.mini-cart-3 .cross span:hover, .mini-cart-2a.mini-cart-4 .middle h5 a:hover, .mini-cart-2a.mini-cart-4 .cross span:hover, .mini-cart.mini-cart-1 .middle h5 a:hover, .mini-cart.mini-cart-1 .cross span:hover, .mini-cart.mini-cart-2 .middle h5 a:hover, .mini-cart.mini-cart-2 .cross span:hover, .mini-cart.mini-cart-3 .middle h5 a:hover, .mini-cart.mini-cart-3 .cross span:hover, .mini-cart.mini-cart-4 .middle h5 a:hover, .mini-cart.mini-cart-4 .cross span:hover, .single-search-product .desc .title:hover, .single-sidebar-product .desc .title:hover {
    background: -moz-linear-gradient(45deg, #f6463d 0%, #f6398d 45%, #f52cdc 100%);
    background: -webkit-linear-gradient(45deg, #f6463d 0%, #f6398d 45%, #f52cdc 100%);
    background: -ms-linear-gradient(45deg, #f6463d 0%, #f6398d 45%, #f52cdc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  
  /* start features area css
  ============================================================================================ */
  @media (max-width: 768px) {
    .features-area {
      padding-top: 0; } }
  .features-area .col-lg-3:last-child .single-features {
    border-right: 0; }
    @media (max-width: 575px) {
      .features-area .col-lg-3:last-child .single-features {
        margin-top: 30px; } }
  .features-area .col-lg-3:nth-child(3) .single-features,
  .features-area .col-lg-3:nth-child(4) .single-features {
    margin-bottom: 0; }
  
  .features-inner {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 40px 0; }
  
  .single-features {
    text-align: center;
    border-right: 1px solid #eeeeee; }
    @media (max-width: 991px) {
      .single-features {
        border-right: none;
        margin-bottom: 30px; } }
    .single-features .f-icon {
      margin-bottom: 20px; }
      .single-features .f-icon img {
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
    .single-features h6 {
      font-size: 16px;
      margin-bottom: 0; }
    .single-features p {
      margin-bottom: 0; }
    .single-features:hover .f-icon img {
      opacity: .5; }
  
  /* start features area css
  ============================================================================================ */
  /* start category area css
  ============================================================================================ */
  .single-deal {
    position: relative;
    margin-bottom: 30px; }
    .single-deal .overlay {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      content: "";
      background: #000;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .single-deal .deal-details {
      position: absolute;
      left: 50%;
      top: 115%;
      display: inline-block;
      text-align: center;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .single-deal .deal-details h6 {
        color: #fff;
        text-transform: uppercase; }
    .single-deal:hover .overlay {
      opacity: .5;
      visibility: visible; }
    .single-deal:hover .deal-details {
      top: 50%;
      opacity: 1;
      visibility: visible; }
  
  /* end category area css
  ============================================================================================ */
  /* start product area css
  ============================================================================================ */
  .active-product-area {
    padding-top: 70px;
    padding-bottom: 50px; }
    .active-product-area .owl-nav div {
      position: absolute;
      left: 35%;
      top: 7%;
      opacity: .3; }
      @media (max-width: 1440px) {
        .active-product-area .owl-nav div {
          left: 30%; } }
      @media (max-width: 1200px) {
        .active-product-area .owl-nav div {
          left: 28%; } }
      @media (max-width: 991px) {
        .active-product-area .owl-nav div {
          top: 3%;
          left: 25%; } }
      @media (max-width: 870px) {
        .active-product-area .owl-nav div {
          left: 15%; } }
      @media (max-width: 767px) {
        .active-product-area .owl-nav div {
          left: 10%;
          top: 2%;
          margin-top: -25px; } }
      @media (max-width: 570px) {
        .active-product-area .owl-nav div {
          left: 37%;
          top: 1%;
          margin-top: -25px; } }
      @media (max-width: 480px) {
        .active-product-area .owl-nav div {
          margin-top: -20px;
          left: 28%; } }
      .active-product-area .owl-nav div:hover {
        opacity: 1; }
    .active-product-area .owl-nav .owl-next {
      left: auto;
      right: 35%; }
      @media (max-width: 1440px) {
        .active-product-area .owl-nav .owl-next {
          right: 30%; } }
      @media (max-width: 1200px) {
        .active-product-area .owl-nav .owl-next {
          right: 28%; } }
      @media (max-width: 991px) {
        .active-product-area .owl-nav .owl-next {
          top: 3%;
          right: 25%; } }
      @media (max-width: 870px) {
        .active-product-area .owl-nav .owl-next {
          right: 15%; } }
      @media (max-width: 767px) {
        .active-product-area .owl-nav .owl-next {
          right: 10%;
          top: 2%;
          margin-top: -25px; } }
      @media (max-width: 570px) {
        .active-product-area .owl-nav .owl-next {
          right: 37%;
          top: 1%;
          margin-top: -25px; } }
      @media (max-width: 480px) {
        .active-product-area .owl-nav .owl-next {
          margin-top: -20px;
          right: 28%; } }
  
  .single-product {
    margin-bottom: 50px; }
    .single-product img {
      margin-bottom: 20px;
      width: 100%; }
    .single-product .product-details h6 {
      font-size: 16px;
      text-transform: uppercase; }
    .single-product .product-details .price h6 {
      font-size: 14px;
      display: inline-block;
      padding-right: 15px;
      margin: 0; }
    .single-product .product-details .price .l-through {
      text-decoration: line-through;
      color: #cccccc;
      margin-bottom: 0; }
    .single-product .product-details .prd-bottom {
      position: relative;
      margin-top: 20px; }
      .single-product .product-details .prd-bottom .social-info {
        position: relative;
        display: inline-block;
        width: 35px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        overflow: hidden; }
        .single-product .product-details .prd-bottom .social-info span {
          position: relative;
          height: 30px;
          width: 30px;
          line-height: 30px;
          text-align: center;
          background: #828bb2;
          border-radius: 50%;
          display: inline-block;
          color: #fff;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
          z-index: 1; }
          .single-product .product-details .prd-bottom .social-info span:after {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            content: "";
            border-radius: 50%;
            opacity: 0;
            visibility: hidden;
            z-index: -1; }
        .single-product .product-details .prd-bottom .social-info .hover-text {
          position: absolute;
          left: 0;
          top: 3px;
          width: 100px;
          left: -40px;
          text-transform: uppercase;
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          font-size: 12px;
          color: #222222;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
          opacity: 0;
          visibility: hidden; }
        .single-product .product-details .prd-bottom .social-info:hover {
          width: 115px; }
          .single-product .product-details .prd-bottom .social-info:hover span:after {
            opacity: 1;
            visibility: visible; }
          .single-product .product-details .prd-bottom .social-info:hover .hover-text {
            opacity: 1;
            visibility: visible;
            left: 40px; }
  
  /* end product area css
  ============================================================================================ */

  .single-search-product {
    padding: 15px 0;
    position: relative; }
    .single-search-product img {
      max-width: 70px;
      height: auto; }
    .single-search-product .desc {
      margin-left: 15px;
      margin-top: 5px; }
      .single-search-product .desc .title {
        margin-bottom: 5px;
        display: inline-block;
        background: -webkit-linear-gradient(-180deg, #555555, #555555);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      .single-search-product .desc .price {
        font-weight: 700;
        color: #222222; }
        .single-search-product .desc .price span {
          font-weight: 700; }
        .single-search-product .desc .price del {
          font-size: 12px;
          color: #cccccc;
          font-weight: 400; }
    .single-search-product:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background: #eeeeee;
      left: 0;
      bottom: 0;
      z-index: 1; }
    .single-search-product:before {
      position: absolute;
      content: "";
      width: 0%;
      height: 1px;
      left: 0;
      bottom: 0;
      z-index: 2;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .single-search-product:hover:before {
      width: 100%; }
  
  .single-organic-product {
    margin-top: 30px;
    padding: 30px 20px 0 20px;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    position: relative; }
    .single-organic-product:after {
      content: "";
      position: absolute;
      height: 3px;
      width: 0%;
      bottom: 0;
      left: 0;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
    .single-organic-product .price {
      margin-top: 10px;
      margin-bottom: 5px; }
      .single-organic-product .price del {
        font-size: 14px;
        color: #cccccc;
        font-weight: 400; }
    .single-organic-product .bottom {
      width: 160px;
      height: 40px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 20px 20px 0 0;
      transform: scaleY(0);
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .single-organic-product .bottom a {
        display: inline-block;
        width: 25%;
        line-height: 40px; }
        .single-organic-product .bottom a span {
          color: #fff; }
        .single-organic-product .bottom a:hover {
          background: #fff; }
          .single-organic-product .bottom a:hover span {
            color: #222222; }
    .single-organic-product .text {
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    .single-organic-product .discount {
      width: 60px;
      line-height: 30px;
      border-radius: 3px;
      position: absolute;
      top: 20px;
      right: 20px;
      background: #fff;
      color: #222222;
      text-align: center;
      font-weight: 700;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      z-index: 4;
      box-shadow: 2.828px 2.828px 15px 0px rgba(0, 0, 0, 0.1); }
    .single-organic-product:hover {
      box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.1); }
      .single-organic-product:hover .bottom {
        transform: scaleY(1); }
      .single-organic-product:hover:after {
        width: 100%; }
      .single-organic-product:hover .text {
        opacity: 0; }
      .single-organic-product:hover .discount {
        color: #fff; }
  
  .single-furniture-product {
    margin-top: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative; }
    .single-furniture-product .thumb {
      border: 15px solid #f9fafc;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      background: #f9fafc; }
    .single-furniture-product .desc {
      padding: 20px 15px 10px 15px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .single-furniture-product .desc p {
        margin-bottom: 10px; }
    .single-furniture-product .bottom {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      margin-top: 20px;
      width: 160px;
      height: 40px;
      margin-right: auto;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .single-furniture-product .bottom a {
        display: inline-block;
        width: 25%;
        line-height: 40px;
        text-align: center; }
        .single-furniture-product .bottom a span {
          color: #fff; }
        .single-furniture-product .bottom a:hover {
          background: #fff;
          box-shadow: 2.828px 2.828px 15px 0px rgba(0, 0, 0, 0.1); }
          .single-furniture-product .bottom a:hover span {
            color: #222222; }
    .single-furniture-product .discount {
      width: 60px;
      line-height: 30px;
      border-radius: 3px;
      position: absolute;
      top: 15px;
      right: 15px;
      background: #fff;
      color: #222222;
      text-align: center;
      font-weight: 700;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      z-index: 4;
      box-shadow: 2.828px 2.828px 15px 0px rgba(0, 0, 0, 0.1); }
    .single-furniture-product:hover {
      box-shadow: 2.828px 2.828px 25px 0px rgba(0, 0, 0, 0.1); }
      .single-furniture-product:hover .desc {
        padding: 5px 15px 25px 15px; }
      .single-furniture-product:hover .thumb {
        border: 15px solid #fff; }
      .single-furniture-product:hover .discount {
        color: #fff; }
  
  .jewellery-single-product {
    margin-top: 30px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    background: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .jewellery-single-product .top {
      padding: 40px 40px 0 40px;
      text-align: center; }
    .jewellery-single-product .desc {
      margin-top: 10px;
      text-align: center;
      padding-bottom: 40px; }
      .jewellery-single-product .desc h6 {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        margin-bottom: 8px; }
      .jewellery-single-product .desc h5 {
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        margin-bottom: 8px; }
        .jewellery-single-product .desc h5 del {
          color: #cccccc;
          font-weight: 400;
          font-size: 12px; }
      .jewellery-single-product .desc .icon-group span {
        color: #6a12c9;
        padding: 0 2px; }
    .jewellery-single-product .bottom {
      background: #f9fafc; }
      .jewellery-single-product .bottom a {
        width: 40px;
        line-height: 40px;
        border-right: 1px solid #eee;
        text-align: center;
        color: #222222; }
        .jewellery-single-product .bottom a:last-child {
          border-right: 0px; }
        .jewellery-single-product .bottom a:hover {
          background: #fff; }
    .jewellery-single-product:hover {
      box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1); }
      .jewellery-single-product:hover h5 {
        color: #6f0fce; }
        .jewellery-single-product:hover h5 del {
          color: #cccccc; }
    .jewellery-single-product .discount {
      width: 60px;
      height: 60px;
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 3; }
      .jewellery-single-product .discount .st0 {
        fill: #fff; }
      .jewellery-single-product .discount .st1 {
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: none;
        stroke: #68489D;
        stroke-miterlimit: 10; }
      .jewellery-single-product .discount:hover .st0 {
        fill: #8421e1; }
      .jewellery-single-product .discount:hover .st1 {
        stroke: #fff; }
      .jewellery-single-product .discount span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .jewellery-single-product .discount:hover {
        color: #fff; }
  
  .single-small-banner {
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    padding: 20px;
    width: 32.36%; }
    .single-small-banner:before {
      content: "";
      position: absolute;
      width: 30px;
      height: 200px;
      left: 20px;
      top: 50%;
      transform: translateY(-50%) rotate(25deg);
      background: rgba(0, 0, 0, 0.05); }
    .single-small-banner:after {
      content: "";
      position: absolute;
      width: 30px;
      height: 200px;
      left: 60px;
      top: 50%;
      transform: translateY(-50%) rotate(25deg);
      background: rgba(0, 0, 0, 0.05); }
    .single-small-banner.color-1 {
      background: #3fcaff; }
    .single-small-banner.color-2 {
      background: #ffcc00; }
    .single-small-banner.color-3 {
      background: #e10101; }
    .single-small-banner .desc {
      margin-left: 10px; }
      .single-small-banner .desc h5 {
        text-shadow: -4px 4px 1px rgba(0, 0, 0, 0.15);
        font-size: 16px;
        margin-bottom: 3px; }
      .single-small-banner .desc p {
        margin: 0;
        text-shadow: -4px 4px 1px rgba(0, 0, 0, 0.15); }
  
  .single-sidebar-product {
    padding: 15px 0;
    overflow: hidden;
    position: relative; }
    .single-sidebar-product img {
      max-width: 70px;
      height: auto; }
    .single-sidebar-product .desc {
      margin-left: 12px;
      margin-top: 5px; }
      .single-sidebar-product .desc .title {
        margin-bottom: 5px;
        display: inline-block;
        background: -webkit-linear-gradient(-180deg, #555555, #555555);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      .single-sidebar-product .desc .price {
        font-weight: 700;
        color: #222222; }
        .single-sidebar-product .desc .price span {
          font-weight: 700; }
        .single-sidebar-product .desc .price del {
          font-size: 12px;
          color: #cccccc;
          font-weight: 400; }
    .single-sidebar-product:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background: #eeeeee;
      left: 0;
      bottom: 0;
      z-index: 1; }
    .single-sidebar-product:before {
      position: absolute;
      content: "";
      width: 0%;
      height: 1px;
      left: 0;
      bottom: 0;
      z-index: 2;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .single-sidebar-product:hover:before {
      width: 100%; }
    .single-sidebar-product .dot-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 5; }
      .single-sidebar-product .dot-bottom span {
        width: 3px;
        height: 1px;
        display: inline-block;
        background: transparent;
        position: relative;
        margin-left: 9px; }
        .single-sidebar-product .dot-bottom span:first-child {
          margin-left: 6px; }
        .single-sidebar-product .dot-bottom span:before {
          width: 3px;
          height: 1px;
          background: #fff;
          content: "";
          position: absolute;
          left: -3px;
          top: 0; }
        .single-sidebar-product .dot-bottom span:after {
          width: 3px;
          height: 1px;
          background: #fff;
          content: "";
          position: absolute;
          left: 3px;
          top: 0; }  
  .filter-bar {
    padding: 0px 20px 10px 20px;
    background: #828bb3; }
    .filter-bar a, .filter-bar i {
      color: #000; }
  
  .main-categories a {
    color: #000; }
  
  .grid-btn, .list-btn {
    margin-top: 10px;
    width: 40px;
    line-height: 40px;
    border: 1px solid #eee;
    text-align: center;
    margin-right: 10px; }
    .grid-btn i, .list-btn i {
      display: inline-block; }
    .grid-btn:hover i, .list-btn:hover i {
      color: #fff; }
    .grid-btn.active i, .list-btn.active i {
      color: #fff; }

  .sidebar-categories .head {
    line-height: 60px;
    background: #828bb3;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 400;
    color: #fff; }
  .sidebar-categories .main-categories {
    padding: 0 20px;
    background: #fff;
    box-shadow: 0 10px 10px rgba(153, 153, 153, 0.1); }
  .sidebar-categories .main-nav-list a {
    font-size: 14px;
    display: block;
    line-height: 50px;
    padding-left: 10px;
    border-bottom: 1px solid #eee; }
    .sidebar-categories .main-nav-list a:hover {
      color: #ffba00; }
    .sidebar-categories .main-nav-list a .number {
      color: #cccccc;
      margin-left: 10px; }
    .sidebar-categories .main-nav-list a .lnr {
      margin-right: 10px;
      display: none; }
  .sidebar-categories .main-nav-list.child a {
    padding-left: 32px; }
  
  /* .sidebar-filter {
    margin-top: 50px; } */
    .sidebar-filter .top-filter-head {
      line-height: 60px;
      background: #828bb3;
      padding: 0 30px;
      font-size: 16px;
      font-weight: 400;
      color: #fff; }
    .sidebar-filter .head {
      line-height: 60px;
      padding: 0 30px;
      font-size: 14px;
      font-weight: 700;
      color: #222222;
      text-transform: uppercase;
      margin-top: 5px; }
    .sidebar-filter .common-filter {
      border-bottom: 1px solid #eee;
      padding-bottom: 25px; }
      .sidebar-filter .common-filter .filter-list {
        position: relative;
        padding-left: 28px; }
  
  .filter-list {
    line-height: 30px; }
    .filter-list i {
      margin-right: 10px;
      cursor: pointer; }
    .filter-list .number {
      color: #ccc; }
    .filter-list label {
      margin-bottom: 3px;
      cursor: pointer; }
  
  @-webkit-keyframes click-wave {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0.35;
      position: absolute;
      top: 50%;
      left: 50%; }
    100% {
      transform: translate(-50%, -50%) scale(3);
      opacity: 0;
      top: 50%;
      left: 50%;
      position: absolute; } }
  @-moz-keyframes click-wave {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0.35;
      position: absolute;
      top: 50%;
      left: 50%; }
    100% {
      transform: translate(-50%, -50%) scale(3);
      opacity: 0;
      top: 50%;
      left: 50%;
      position: absolute; } }
  @keyframes click-wave {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0.35;
      position: absolute;
      top: 50%;
      left: 50%; }
    100% {
      transform: translate(-50%, -50%) scale(3);
      opacity: 0;
      top: 50%;
      left: 50%;
      position: absolute; } }
  .pixel-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    background: #fff;
    border: 1px solid #eee;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    outline: none;
    position: relative;
    z-index: 1; }
  
  .pixel-radio:checked {
    border: 7px solid #ffba00; }
  
  .pixel-radio:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #ffba00;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    opacity: 0; }
  
  .pixel-radio {
    /* border-radius: 50%; */
    top: 6px; }
  
  .pixel-radio::after {
    border-radius: 50%; }
  
  .price-range-area {
    padding: 30px 30px 0 30px; }
    .price-range-area .noUi-target {
      background: #eee;
      border-radius: 0px;
      border: 0px;
      box-shadow: none; }
    .price-range-area .noUi-horizontal {
      height: 6px; }
    .price-range-area .noUi-connect {
      background: #eee;
      border-radius: 0px;
      box-shadow: none; }
    .price-range-area .noUi-horizontal .noUi-handle {
      width: 16px;
      height: 16px;
      left: -8px;
      top: -5px;
      border-radius: 50%;
      border: 0px;
      background: #ffba00;
      box-shadow: none;
      cursor: pointer;
      -webkit-transition: ease 0.1s;
      -moz-transition: ease 0.1s;
      -o-transition: ease 0.1s;
      transition: ease 0.1s; }
      .price-range-area .noUi-horizontal .noUi-handle:focus {
        outline: none; }
      .price-range-area .noUi-horizontal .noUi-handle:hover {
        border: 3px solid #ffba00;
        background: #fff; }
    .price-range-area .noUi-handle::after, .price-range-area .noUi-handle::before {
      display: none; }
    .price-range-area .value-wrapper {
      margin-top: 20px;
      color: #cccccc; }
      .price-range-area .value-wrapper .to {
        margin: 0 5px; }
    .price-range-area .price {
      margin-right: 5px;
      color: #777777; }
  
  /* Feature Product Area css
  ============================================================================================ */
  .feature_product_area .main_box {
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: -50px;
    margin-bottom: -50px;
    position: relative;
    z-index: 10; }
  .feature_product_area .hot_product_inner {
    margin-bottom: 100px; }
  
  .hot_p_item {
    position: relative; }
    .hot_p_item .product_text {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 100%; }
      .hot_p_item .product_text h4 {
        margin-top: 26px;
        margin-left: 26px;
        color: #222222;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 30px; }
      .hot_p_item .product_text a {
        position: absolute;
        left: 26px;
        bottom: 28px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        color: #222222;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        .hot_p_item .product_text a:hover {
          color: #ffba00; }
  
  .feature_p_slider .owl-dots {
    text-align: center; }
    .feature_p_slider .owl-dots .owl-dot {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: #e4ecee;
      display: inline-block;
      margin-right: 10px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      margin-top: 45px;
      margin-bottom: 30px; }
      .feature_p_slider .owl-dots .owl-dot:last-child {
        margin-right: 0px; }
      .feature_p_slider .owl-dots .owl-dot.active {
        width: 30px;
        height: 8px;
        background: #ffba00;
        border-radius: 4px; }
  
  .f_p_item {
    text-align: center;
    margin-bottom: 35px; }
    .f_p_item .f_p_img {
      position: relative;
      overflow: hidden; }
      .f_p_item .f_p_img .p_icon {
        position: absolute;
        right: -45px;
        bottom: 30px;
        transition: all 300ms ease; }
        .f_p_item .f_p_img .p_icon a {
          display: block;
          height: 40px;
          width: 40px;
          text-align: center;
          border-radius: 3px;
          background: #fff;
          line-height: 40px;
          color: #222222;
          margin-bottom: 5px; }
          .f_p_item .f_p_img .p_icon a:last-child {
            margin-bottom: 0px; }
          .f_p_item .f_p_img .p_icon a:hover {
            color: #fff;
            background: #ffba00; }
    .f_p_item h4 {
      color: #222222;
      font-size: 16px;
      margin-top: 15px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .f_p_item h4:hover {
        color: #ffba00; }
    .f_p_item h5 {
      margin-bottom: 0px;
      font-size: 18px;
      color: #777777; }
    .f_p_item:hover .f_p_img .p_icon {
      right: 15px; }
  
  .latest_product_area .main_box {
    padding-top: 100px;
    padding-bottom: 100px; }
  
  .latest_product_inner {
    margin-bottom: -35px; }
  
  /* End Feature Product Area css
  ============================================================================================ */
  /* End Feature Product Area css
  ============================================================================================ */
  .most_product_area .main_box {
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: -50px;
    margin-bottom: -50px;
    position: relative;
    z-index: 10; }
  
  .most_product_inner {
    margin-bottom: -30px; }
  
  .most_p_list .media {
    margin-bottom: 30px; }
    .most_p_list .media .d-flex {
      padding-right: 20px; }
    .most_p_list .media .media-body {
      vertical-align: middle;
      align-self: center; }
      .most_p_list .media .media-body h4 {
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: normal;
        color: #222222; }
      .most_p_list .media .media-body h3 {
        font-size: 16px;
        font-weight: 500;
        color: #777777;
        margin-bottom: 0px; }
  
  /* End Feature Product Area css
  ============================================================================================ */
  /* Product Sidebar Area css
  ============================================================================================ */
  .cat_product_area .latest_product_inner {
    padding-top: 30px;
    margin-bottom: -50px; }
    .cat_product_area .latest_product_inner .f_p_item {
      margin-bottom: 50px; }
  
  .left_widgets {
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0px 10px 10px 0px rgba(153, 153, 153, 0.1); }
    .left_widgets:last-child {
      margin-bottom: 0px; }
  
  .widgets_inner {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px; }
  
  .l_w_title {
    background: #e8f0f2;
    padding-left: 30px; }
    .l_w_title h3 {
      margin-bottom: 0px;
      font-size: 14px;
      color: #222222;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 60px; }
  
  .cat_widgets .list li {
    margin-bottom: 13px; }
    .cat_widgets .list li a {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      color: #222222; }
    .cat_widgets .list li .list {
      margin-top: 10px;
      padding-left: 35px;
      border-top: 1px solid #eeeeee;
      padding-top: 10px;
      display: none; }
  
  .p_filter_widgets .widgets_inner {
    border-bottom: 1px solid #eeeeee; }
    .p_filter_widgets .widgets_inner:last-child {
      border-bottom: 0px; }
  .p_filter_widgets h4 {
    color: #222222;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    margin-bottom: 22px;
    margin-top: 10px; }
  .p_filter_widgets .list li {
    margin-bottom: 18px; }
    .p_filter_widgets .list li a {
      padding-left: 30px;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      color: #777777;
      position: relative; }
      .p_filter_widgets .list li a:before {
        content: "";
        height: 10px;
        width: 10px;
        border-radius: 50%;
        border: 1px solid #777777;
        position: absolute;
        left: 0px;
        top: 5px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
      .p_filter_widgets .list li a:after {
        content: "";
        height: 4px;
        width: 4px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: 3px;
        top: 8px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
    .p_filter_widgets .list li.active a:before, .p_filter_widgets .list li:hover a:before {
      background: #ffba00;
      border-color: #ffba00; }
    .p_filter_widgets .list li:last-child {
      margin-bottom: 0px; }
  .p_filter_widgets .range_item .ui-slider {
    height: 6px;
    border: none;
    background: #e8f0f2; }
    .p_filter_widgets .range_item .ui-slider .ui-slider-range {
      background: #e8f0f2; }
    .p_filter_widgets .range_item .ui-slider .ui-slider-handle {
      height: 16px;
      width: 16px;
      border-radius: 50%;
      border: none;
      background: #ffba00;
      outline: none !important;
      box-shadow: none;
      top: -6px;
      cursor: pointer; }
  .p_filter_widgets .range_item label {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    color: #777777;
    font-family: "Roboto", sans-serif;
    margin-top: 15px; }
  .p_filter_widgets .range_item input {
    display: inline-block;
    border: none;
    width: 100px;
    font-size: 14px;
    color: #777777;
    font-family: "Roboto", sans-serif;
    margin-top: 9px;
    padding-left: 3px; }
    .p_filter_widgets .range_item input.placeholder {
      font-size: 14px;
      color: #777777;
      font-family: "Roboto", sans-serif; }
    .p_filter_widgets .range_item input:-moz-placeholder {
      font-size: 14px;
      color: #777777;
      font-family: "Roboto", sans-serif; }
    .p_filter_widgets .range_item input::-moz-placeholder {
      font-size: 14px;
      color: #777777;
      font-family: "Roboto", sans-serif; }
    .p_filter_widgets .range_item input::-webkit-input-placeholder {
      font-size: 14px;
      color: #777777;
      font-family: "Roboto", sans-serif; }
  
  .product_top_bar {
    background: #e8f0f2;
    clear: both;
    display: flex;
    padding: 10px 20px; }
    .product_top_bar .left_dorp .sorting {
      display: inline-block;
      clear: none;
      border: 1px solid #eeeeee;
      border-radius: 0px;
      height: 40px;
      width: 210px;
      padding-left: 20px; }
      .product_top_bar .left_dorp .sorting span {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        color: #555555; }
      .product_top_bar .left_dorp .sorting .list {
        width: 100%;
        border-radius: 0px; }
        .product_top_bar .left_dorp .sorting .list li {
          font-size: 14px;
          font-family: "Roboto", sans-serif;
          color: #555555; }
      .product_top_bar .left_dorp .sorting:after {
        content: "\f0d7";
        font: normal normal normal 14px/1 FontAwesome;
        transform: rotate(0);
        border: none;
        color: #555555;
        margin-top: -6px;
        right: 20px; }
    .product_top_bar .left_dorp .show {
      clear: none;
      display: inline-block;
      clear: none;
      border: 1px solid #eeeeee;
      border-radius: 0px;
      height: 40px;
      width: 120px;
      padding-left: 20px;
      margin-left: 10px; }
      .product_top_bar .left_dorp .show span {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        color: #555555; }
      .product_top_bar .left_dorp .show .list {
        width: 100%;
        border-radius: 0px; }
        .product_top_bar .left_dorp .show .list li {
          font-size: 14px;
          font-family: "Roboto", sans-serif;
          color: #555555; }
      .product_top_bar .left_dorp .show:after {
        content: "\f0d7";
        font: normal normal normal 14px/1 FontAwesome;
        transform: rotate(0);
        border: none;
        color: #555555;
        margin-top: -6px;
        right: 20px; }
  
  .cat_page .pagination {
    margin-bottom: 0px;
    border-radius: 0px; }
    .cat_page .pagination li a {
      height: 40px;
      width: 40px;
      border-radius: 0px;
      background: #fff;
      padding: 0px;
      text-align: center;
      line-height: 38px;
      border-color: #eeeeee;
      border-radius: 0px !important;
      font-size: 14px;
      color: #222222;
      font-weight: normal;
      font-family: "Roboto", sans-serif; }
    .cat_page .pagination li.blank a {
      background: transparent;
      color: #cccccc;
      border: none; }
    .cat_page .pagination li:hover a, .cat_page .pagination li.active a {
      background: #ffba00;
      color: #fff;
      border-color: #ffba00; }
  
  .most_p_withoutbox {
    padding-bottom: 120px; }
  
  /* End Product Sidebar Area css
  ============================================================================================ */


  .bg-success.toast-body{
    color: white;
}